.container {
	max-width: 550px;
}

h3 {
	margin-top: 0 !important;
	font-size: 20px !important;
}

#gcal {
	margin-bottom: 0;
}

.calculation {
	padding: 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #000;
}
