.container {
	max-width: 550px;
}

h3 {
	margin-top: 0 !important;
	font-size: 20px !important;
}

.form-control[disabled] {
	background-color: #ddd !important;
	font-weight: bold;
	font-size: 18px;
	height: 45px;
	color: #000;
}

#gcal {
	margin-bottom: 0;
}
